html {
  font-size: 62.5%;
  box-sizing: border-box; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden; }

h1.h2.h3 {
  margin: 0; }

a {
  text-decoration: none; }

.container {
  max-width: 1336px;
  width: calc(100vw - 40px);
  margin: 0 auto;
  margin-top: 30px;
  box-shadow: 0 14px 21px rgba(0, 0, 0, 0.4);
  border-radius: 10px 10px 0 0;
  min-height: 100vh; }
  @media (max-width: 700px) {
    .container {
      margin-top: 20px;
      width: calc(100vw - 30px); } }
  @media (max-width: 500px) {
    .container {
      margin-top: 5px;
      width: calc(100vw - 20px); } }

.header {
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
  padding: 0.8rem;
  justify-content: space-between; }
  @media (max-width: 500px) {
    .header {
      padding: 0.5rem;
      width: 100%; } }
  .header__logo {
    max-width: 162px;
    width: 30%; }
  .header__nav {
    align-self: flex-end; }
  .header__items {
    list-style: none;
    display: flex;
    justify-content: space-between; }
  .header__item {
    display: inline-block;
    margin: 0 2rem; }
    @media (max-width: 700px) {
      .header__item {
        margin: 0 1rem; } }
    @media (max-width: 500px) {
      .header__item {
        margin: 0 0.5rem; } }
  .header__link:link, .header__link:visited {
    color: #000;
    font-size: 2.3rem;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: all 0.5s ease-in; }
    @media (max-width: 700px) {
      .header__link:link, .header__link:visited {
        font-size: 2rem; } }
    @media (max-width: 500px) {
      .header__link:link, .header__link:visited {
        font-size: 1.4rem; } }
  .header__link::after {
    display: block;
    content: "";
    border-bottom: solid 3px #8f73ff;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out; }
  .header__link:hover::after {
    transform: scaleX(1); }

.btn-primary {
  color: #000;
  font-size: 2.4rem;
  font-weight: 300;
  text-transform: capitalize;
  display: inline-block;
  padding: 0 1.7rem; }
  @media (max-width: 700px) {
    .btn-primary {
      font-size: 2rem;
      padding: 0 1.5rem; } }
  @media (max-width: 500px) {
    .btn-primary {
      font-size: 1.8rem;
      padding: 0 1rem; } }
  .btn-primary:hover {
    transform: translateY(-7rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
  .btn-primary--white {
    background-color: #fff;
    backface-visibility: hidden;
    transition: all 0.2s ease-in; }
    .btn-primary--white:hover {
      transform: translateY(-2px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
    .btn-primary--white:active {
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3); }

.btn-secondary {
  font-size: 2rem;
  line-height: 2.1rem;
  letter-spacing: 13%;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  padding: 1rem 1.1rem; }
  .btn-secondary--purple {
    background-color: #8f73ff; }
  @media (max-width: 700px) {
    .btn-secondary {
      font-size: 1.5rem;
      line-height: 1rem; } }
  @media (max-width: 500px) {
    .btn-secondary {
      font-size: 9px;
      line-height: 3px; } }

.menu-btn {
  visibility: hidden;
  position: absolute;
  right: 14px;
  top: 10px;
  width: 30px;
  height: 30px;
  transform: rotate(0deg);
  display: inline-block;
  transition: 0.5s ease-in-out;
  cursor: pointer; }
  .menu-btn__line {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #000;
    opacity: 1;
    left: 0;
    transition: 0.25s ease-in-out; }
  .menu-btn__line:nth-child(1) {
    top: 4px; }
  .menu-btn__line:nth-child(2), .menu-btn__line:nth-child(3) {
    top: 12px; }
  .menu-btn__line:nth-child(4) {
    top: 20px; }
  .menu-btn.open .menu-btn__line:nth-child(1) {
    top: 8px;
    width: 0%;
    left: 50%; }
  .menu-btn.open .menu-btn__line:nth-child(2) {
    transform: rotate(45deg); }
  .menu-btn.open .menu-btn__line:nth-child(3) {
    transform: rotate(-45deg); }
  .menu-btn.open .menu-btn__line:nth-child(4) {
    top: 8px;
    width: 0%;
    left: 50%; }
  @media (max-width: 500px) {
    .menu-btn {
      visibility: visible; } }

.nav {
  position: sticky;
  top: 0;
  background-color: #8f73ff;
  width: 100%;
  padding: 0.8rem;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease-in;
  z-index: 1000; }
  .nav__items {
    width: 80%;
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: space-between;
    transition: all 0.4s ease-in; }
    @media (max-width: 700px) {
      .nav__items {
        width: 100%; } }
    @media (max-width: 500px) {
      .nav__items {
        width: 70%;
        margin: 0; } }
  .nav__item {
    display: inline-block; }
    @media (max-width: 500px) {
      .nav__item {
        display: none; }
        .nav__item:nth-of-type(1) {
          display: inline-block; }
        .nav__item:nth-of-type(2) {
          display: inline-block; } }
  .nav.open .nav__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; }
  .nav.open .nav__item {
    display: inline-block; }

.heading-lg {
  font-size: 2.4rem;
  line-height: 3.1rem;
  letter-spacing: 1.13;
  text-transform: uppercase;
  font-weight: 500; }
  @media (max-width: 700px) {
    .heading-lg {
      font-size: 2rem;
      line-height: 2.2rem;
      letter-spacing: 1.13px; } }
  @media (max-width: 500px) {
    .heading-lg {
      font-size: 1.2rem;
      line-height: 1.5rem;
      letter-spacing: 1.12px; } }

.heading-secondary {
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 1.13;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1.2rem; }

.paragraph-lg {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.1rem;
  letter-spacing: 2.08px; }
  @media (max-width: 700px) {
    .paragraph-lg {
      font-size: 1.2rem;
      line-height: 1.6rem;
      letter-spacing: 1.6px; } }
  @media (max-width: 500px) {
    .paragraph-lg {
      font-size: 1.2rem;
      line-height: 1.2rem;
      letter-spacing: 0.07em; } }

.slider {
  margin: 0 auto;
  margin-top: 2rem;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  @media (max-width: 700px) {
    .slider {
      width: 90%; } }
  @media (max-width: 500px) {
    .slider {
      width: 95%; } }
  .slider__control {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer; }
    .slider__control:hover {
      transform: scale(1.2); }
    .slider__control--previous {
      display: inline-block;
      margin-right: 1rem; }
      @media (max-width: 700px) {
        .slider__control--previous img {
          width: 17px; } }
      @media (max-width: 500px) {
        .slider__control--previous img {
          width: 13.02px; } }
    .slider__control--next {
      display: inline-block;
      margin-left: 1rem; }
      @media (max-width: 700px) {
        .slider__control--next img {
          width: 17px; } }
      @media (max-width: 500px) {
        .slider__control--next img {
          width: 13.02px; } }
  .slider__items {
    list-style: none; }
  .slider__item {
    box-shadow: 0 0.5rem 2.1rem rgba(0, 0, 0, 0.25);
    display: none;
    grid-template-columns: 1fr 2fr;
    max-width: 60.5rem;
    padding: 0.7rem;
    gap: 2rem; }
    @media (max-width: 700px) {
      .slider__item {
        gap: 1rem; } }
    @media (max-width: 500px) {
      .slider__item {
        gap: 0.4rem; } }
    .slider__item__image {
      max-width: 100%;
      background-size: cover;
      background-position: center; }
      .slider__item__image--1 {
        background-image: url("https://s3-alpha-sig.figma.com/img/c593/ca89/fee9cd0398cc0f8ca7272258e754ed96?Expires=1597017600&Signature=WHwIfLwerkJc95sowJK-p6FPHxM7ZTcjmqtnnCSNgqjzTvWTmnh4SDR1Ovlfx-i8rAXzGGEv0ep6fD2OqJsp4QmgrxVMVuf3XAuuRezbokloxFDP9Zqz6q3rR5Qf~RPRpqJ~rmiOcGPwlZRQum9S9xng8bgur9SxYLbrzIi8uf3gZXttcj36l6Cfc0dIuwFNko~0Rff7gf0lb2ryopZo1-SSPgIL9mQAlMWPBu9jcXLynP4La8nluzmDSeOh-J88BrN2AuL6IEGsQvor2nWwaRpBhiLiM0dzuh6WFkIL6vdDDG7iMJbfBTS9BlJ1euj5w-uenwCBpr9riAsZ4Ur~rQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"); }
      .slider__item__image--2 {
        background-image: url("https://s3-alpha-sig.figma.com/img/54ad/88e1/28b881e78f20bcd3cb27bcec287651eb?Expires=1597017600&Signature=UhzfThPZ-8RBSZDrpBi5QAMj07OnGXSeToHFc9J8Pha8~gQjT6vnAlnKEEakeE-jax41GoC1r4UQ2fKE4ko6FJZW-8zwXqPUYmDhoKya8pyuzknwfYxtIjp6aB7i1vNSViNc0oT~bnVR~u1gm33jukJeFkNkJMwpgUPmhJbtjwWU4kIXVUATWyeAZHDzOyyv93vti1Infdw4kiGbEjTszmnYmZGKVXGXAPCLJhTBb0EcH10KeHSjCqpjFIzyvpeOon2DNkEKWZvi8BllWXC7Uiy0UAy8Z0Pz4eBojtLx40066swFTX~U0ZU2uMdxxImxg11g275G034I~Vvt3z0tfA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"); }
      .slider__item__image--3 {
        background-image: url("https://s3-alpha-sig.figma.com/img/a306/d8a9/b55af1504eed9c81aee39c3beb0df655?Expires=1597017600&Signature=chM5rjwRzk42b5aEIK-9PVKGf6p0J3-gIIrkgA9cvk1Wf5EvxXXDLKNFruvZeOcTOXYkUAabM95p42IZfcQE5F~7mv51Cf7BJ7Y3BffbW-oIsh4caMJvatkqStOzz6FYtIs1reCbZjVOAnYrxcs4ZdJnmrYtTmUYXA1cKOW1xHqdxiPCcsMqULmfvaq8SSG82POcrqXhL4nlwBcPo1AOrQDE2IROMmCamxlS5M8~8MNUVazhUQOJ9JvpjNOoY3dJw~N53cK0MuFlVvksZj~zaWVQqO6ZdYzNJwosHI7Rv8KzXSLBESljC3RTzzfKN5pyhYEv1vM156L2DwkQI26ijQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"); }
      .slider__item__image--4 {
        background-image: url("https://s3-alpha-sig.figma.com/img/6ff4/c99d/9349bcd2c5391a122ded53b678f89efb?Expires=1597017600&Signature=G3vFg87H4HAz9WVNPEHNEQGNskCVOHDnBnvegIOmOadzGFe2iEGX~zyjmW2r~3cnR1HP51APUkanbS0eovFEqLnUJopNBM1XfYaNTbrwHAOAxfMBL-rVqP74RueSb2XiLns7esBrj5bc1QXlhsuSa9IOvIXL~0ZZgIQEcaO-uifQ0fGLIYPI7Ho683w3dUXNPzZDRjDbzbjHXKQim1p9b0nR2lTA8ZNuQ7Cuz7lu~yOe9485KmkAIME2~c1MtkVz41QyFaJCLrXkt2xQIqmhgXHthIgaPGTnOjmNbCY~RVRRu6lxFwoCaw0LEdq~R6VsHmWouii24vfBWUmhKeklrg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"); }
    .slider__item__text {
      display: grid;
      grid-template-rows: max-content 1fr max-content;
      gap: 0.5rem; }
      .slider__item__text .btn-secondary {
        justify-self: end; }
    .slider__item.current {
      display: grid; }
  .slider__dots {
    position: absolute;
    display: block;
    justify-self: center;
    align-self: flex-end;
    transform: translateY(40px); }
    @media (max-width: 700px) {
      .slider__dots {
        transform: translateY(35px); } }
    @media (max-width: 500px) {
      .slider__dots {
        transform: translateY(25px); } }
  .slider__dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 10px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 50%;
    outline-offset: 5px;
    transition: all 0.5s ease-in;
    outline: none; }
    .slider__dot.current__dot {
      background-color: #8f73ff; }
    @media (max-width: 700px) {
      .slider__dot {
        width: 10px;
        height: 10px;
        margin: 0 8px; } }
    @media (max-width: 500px) {
      .slider__dot {
        width: 10px;
        height: 10px;
        margin: 0 5px; } }

@keyframes slideLeft {
  0% {
    opacity: 0.5;
    transform: translateX(30%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slideRight {
  0% {
    opacity: 0.5;
    transform: translateX(-30%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: min-content;
  grid-auto-flow: dense;
  gap: 2rem;
  padding: 5rem 2rem; }
  @media (max-width: 700px) {
    .main {
      grid-column: 1fr;
      gap: 1rem;
      padding: 4rem 1rem; } }
  .main .sidebar {
    position: sticky;
    display: grid;
    grid-template-rows: min-content min-content;
    grid-column: 2/-1;
    gap: 2rem; }
    @media (max-width: 700px) {
      .main .sidebar {
        grid-column: 1/-1;
        gap: 1rem; } }
  .main .posts {
    grid-column: 1/2;
    background-color: #fff;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.4);
    border-radius: 10px 10px 0 0;
    z-index: 4; }
    @media (max-width: 700px) {
      .main .posts {
        grid-column: 1/-1;
        border-radius: 0;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4); } }
    .main .posts .post {
      box-shadow: 0 0.5rem 2.1rem rgba(0, 0, 0, 0.25);
      display: grid;
      grid-template-columns: 1fr 3fr;
      padding: 0.7rem;
      margin: 2rem;
      gap: 2rem; }
      @media (max-width: 700px) {
        .main .posts .post {
          gap: 1rem;
          margin: 1rem; } }
      @media (max-width: 500px) {
        .main .posts .post {
          gap: 0.4rem;
          margin: 0.5rem; } }
      .main .posts .post__image {
        max-width: 100%;
        background-size: cover;
        background-position: center; }
        .main .posts .post__image--1 {
          background-image: url("https://s3-alpha-sig.figma.com/img/c593/ca89/fee9cd0398cc0f8ca7272258e754ed96?Expires=1597017600&Signature=WHwIfLwerkJc95sowJK-p6FPHxM7ZTcjmqtnnCSNgqjzTvWTmnh4SDR1Ovlfx-i8rAXzGGEv0ep6fD2OqJsp4QmgrxVMVuf3XAuuRezbokloxFDP9Zqz6q3rR5Qf~RPRpqJ~rmiOcGPwlZRQum9S9xng8bgur9SxYLbrzIi8uf3gZXttcj36l6Cfc0dIuwFNko~0Rff7gf0lb2ryopZo1-SSPgIL9mQAlMWPBu9jcXLynP4La8nluzmDSeOh-J88BrN2AuL6IEGsQvor2nWwaRpBhiLiM0dzuh6WFkIL6vdDDG7iMJbfBTS9BlJ1euj5w-uenwCBpr9riAsZ4Ur~rQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"); }
      .main .posts .post__text {
        display: grid;
        grid-template-rows: max-content 1fr max-content;
        gap: 0.5rem; }
      .main .posts .post__buttons {
        display: grid;
        grid-template-columns: max-content max-content;
        align-items: center;
        justify-content: space-between; }
        .main .posts .post__buttons .creator {
          font-size: 1.5rem;
          font-style: italic;
          color: #8f73ff;
          text-transform: capitalize; }
  .main .follow {
    background-color: #fff;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.4);
    border-radius: 10px 10px 0 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1; }
    @media (max-width: 700px) {
      .main .follow {
        grid-column: 1/-1;
        padding: 1rem;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4); } }
    .main .follow__icons {
      display: flex;
      justify-content: space-between; }
      .main .follow__icons a {
        display: inline-block;
        width: 30%; }
        @media (max-width: 700px) {
          .main .follow__icons a {
            width: 25%; } }
      .main .follow__icons .icon {
        width: 100%; }
  .main .notification {
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.4);
    border-radius: 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3; }
    @media (max-width: 700px) {
      .main .notification {
        grid-column: 1/-1;
        padding: 1rem;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4); } }
